      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
			<% end %>
      <h1>
      	<% "#{@farmie.first_name}'s Profile" %>
      </h1>

        <%= @profile.picture? ? image_tag(@profile.picture.url) : image_tag("farmer-penguin.jpg", size: 50) %>
        <%= @farmie.first_name + @farmie.last_name[0] + "." %>
		<%= @profile.intro %>
		<%= @profile.about %>

		<% if @profile.show_visited_farms? %>
			<p>Showing visited farms</p>
		<% else %>
			<p>Not showing visited farms</p>
		<% end %>
		<% @farmie.profile.farmie_pictures.each do |p| %>
		  <%= image_tag p.image_path %>
		  <%= link_to "Edit Picture", edit_farmie_profile_path(p) %>
		<% end %>
