<header>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%= link_to "farm stay", root_path, id: "logo", class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path, class: 'btn btn-bd-navbar' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if farmie_signed_in? %>
           <li><%= link_to('Sign out', destroy_farmie_session_path, method: :delete, class: 'btn btn-bd-navbar') %></li>
        
          <% else %>
            <li><%= link_to('Sign in', new_farmie_session_path, class: 'btn btn-bd-navbar') %></li>
            <li><%= link_to('Join Farm Stay!', new_farmie_registration_path, class: 'btn btn-bd-navbar') %></li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>

